<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/styles/styles.css"
		/>
		<title><%= blogpost.title %></title>
	</head>
	<body>
		<div class="blogPostContainer">
			<div class="post-container">
				<h1 class="blogpost-title"><%- blogpost.title %></h1>
				<p class="blogpost-author">
					<%= blogpost.author.username %> - <%= blogpost.timePosted %>
				</p>
				<div class="contentContainer"><%- blogpost.content %></div>
			</div>
			<% if (blogpost.comments.length > 0){%>
			<div class="commentsContainer">
				<h2>Comments:</h2>
				<% blogpost.comments.forEach(comment => { %>
				<div class="comment">
					<strong class="comment-username"><%- comment.username %></strong>
					<p><%- comment.commentContent %></p>
					<p><%- comment.timePosted %></p>
				</div>
				<%}); %>
			</div>
			<%} %>
			<form
				action="/commentform"
				method="POST"
			>
				<label for="username">Name:</label>
				<input
					type="text"
					name="username"
					required
				/>

				<label for="commentContent">Comment:</label>
				<input
					type="text"
					name="commentContent"
					required
				/>
				<input
					type="hidden"
					name="postId"
					value="<%= blogpost._id %>"
				/>
				<% if (errors && errors.length > 0) { %>
				<p style="color: red"><%= errors[0].msg %></p>
				<% } %>
				<button type="submit">Send</button>
			</form>
		</div>
		<%- include('footer.ejs') %>
	</body>
</html>
